[run]
source = art
branch = True
omit =
    art/migrations/*
    art/tests/*
    art/__init__.py
    art/apps.py

[report]
show_missing = True
skip_covered = False
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
