{% extends "curate/curate_base.html" %}

{% block head_title %}Locations{% endblock %}
{% block page_title %}Locations{% endblock %}
{% block page_sub %}
  <p class="curate-page-sub">{{ paginator.count }} {% if is_filtered %}matching · filtered{% else %}total{% endif %}</p>
{% endblock %}
{% block page_actions %}
  <a class="curate-btn" href="{% url 'art:curate:location-add' %}">+ New location</a>
{% endblock %}

{% block content %}
  {% include "curate/_list_controls.html" with search_placeholder="location name" %}
  {% if locations %}
    <div class="curate-table-wrap">
    <table class="curate-table">
      <thead>
        <tr>
          <th class="curate-table__col-name">Description</th>
          <th class="curate-table__col-num">Pieces</th>
        </tr>
      </thead>
      <tbody>
        {% for location in locations %}
          <tr>
            <td>
              <a class="curate-table__name" href="{% url 'art:curate:location-edit' pk=location.id %}">
                {{ location.description }}
              </a>
            </td>
            <td class="curate-table__col-num">{{ location.piece_count }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    {% include "curate/_pagination.html" %}
  {% else %}
    <p class="empty">{% if is_filtered %}No locations match your search.{% else %}No locations yet.{% endif %}</p>
  {% endif %}
{% endblock %}
